{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Plan Director de Seguridad</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static './assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/css/default/style.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/css/default/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/css/default/theme/default.css' %}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	{% block head %}
	{% endblock %}
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				{% if user.autorizacion.id_a == 4 %}
					<a href="/preguntas/responder" class="navbar-brand"> <b>Plan Director de Seguridad</b> </a>
				{% else %}
					<a href="/preguntas" class="navbar-brand"> <b>Plan Director de Seguridad</b> </a>
				{% endif %}
			</div>
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<span class="d-none d-md-inline">{{user.first_name}} {{user.last_name}}</span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/usuarios/editar_perfil" class="dropdown-item">Editar Perfil</a>
						<a href="/usuarios/cambiar_contraseña" class="dropdown-item">Cambiar Contraseña</a>
						<div class="dropdown-divider"></div>
						<a href="{%url 'logout' %}" class="dropdown-item"><b>Cerrar Sesion</b></a>
					</div>
				</li>
				
			</ul>
			<!-- end navbar-header -->

		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">

							<div class="info">
								{{user.first_name}}
								{{user.last_name}}
							</div>
						</a>
					</li>

				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header"></li>
					{% if user.autorizacion.id_a == 4 %}
						<li><a href="/preguntas/responder"><i class="fa fa-question-circle"></i> <span>Preguntas</span></a></li>
						<li><a href="/preguntas/respuesta"><i class="fa fa-eye"></i> <span>Respuestas</span></a></li>
						<li><a href="/reportes/cumplido"><i class="fa fa-archive"></i> <span>Reportes</span></a></li>
					{% endif %}
					{% if user.autorizacion.id_a == 3 %}
					<li><a href="/usuarios/agregar_trabajador"><i class="fa fa-user"></i> <span>Agregar Trabajador</span></a></li>
					<li><a href="/usuarios/agregar_cargo"><i class="fa fa-plus"></i> <span>Agregar Cargos</span></a></li>
					<li class="has-sub">
						<a href="javascript:;">
					        <b class="caret"></b>
						    <i class="fa fa-align-left"></i> 
						    <span>Respuestas Sucursal</span>
						</a>
						<ul class="sub-menu">
							<li><a href="/preguntas/grafico"><i class="fa fa-eye"></i> <span>Gráfico</span></a></li>
							<li><a href="/preguntas/respuestas_n2"><i class="fa fa-eye"></i> <span>Nivel 2</span></a></li>
							<li><a href="/preguntas/respuestas_n3"><i class="fa fa-eye"></i> <span>Nivel 3</span></a></li>
							<li><a href="/preguntas/respuestas"><i class="fa fa-eye"></i> <span>Nivel 4</span></a></li>
						</ul>
					</li>
					<li><a href="/reportes/reportes_auto"><i class="fa fa-eye"></i> <span>Revisar Reportes Generales</span></a></li>
					{% endif %}
					{% if user.autorizacion.id_a == 2 %}

						<li><a href="/reportes/intervalos"><i class="fa fa-arrows-alt-h"></i> <span>Intervalos de Respuestas</span></a></li>
						<li><a href="/reportes/intervalo_aceptado"><i class="fa fa-arrows-alt-h"></i> <span>Intervalo Recomendaciones</span></a></li>
						<li><a href="/usuarios"><i class="fa fa-user"></i> <span>Agregar Administrador Sucursal</span></a></li>
						<li class="has-sub">
							<a href="javascript:;">
						        <b class="caret"></b>
							    <i class="fa fa-align-left"></i> 
							    <span>Respuestas Empresa</span>
							</a>
							<ul class="sub-menu">
								<li><a href="/preguntas/grafico"><i class="fa fa-eye"></i> <span>Gráfico</span></a></li>
								<li><a href="/preguntas/respuestas_n2"><i class="fa fa-eye"></i> <span>Nivel 2</span></a></li>
								<li><a href="/preguntas/respuestas_n3"><i class="fa fa-eye"></i> <span>Nivel 3</span></a></li>
								<li><a href="/preguntas/respuestas"><i class="fa fa-eye"></i> <span>Nivel 4</span></a></li>
							</ul>
						</li>
						<li><a href="/usuarios/agregar_sucursal"><i class="fa fa-building"></i> <span>Agregar Sucursal</span></a></li>
						<li><a href="/reportes/diagnosticos"><i class="fa fa-eye"></i> <span>Revisar Reportes Específicos</span></a></li>
						<li><a href="/reportes/reportes_auto"><i class="fa fa-eye"></i> <span>Revisar Reportes Generales</span></a></li>
						<li><a href="/usuarios/logs"><i class="fa fa-users"></i> <span>Logs de Usuarios</span></a></li>
						<li><a href="/antiguo/datos_n1"><i class="fa fa-archive"></i> <span>Datos Reinicio</span></a></li>
					{% endif %}
					{% if user.autorizacion.id_a == 1 %}
					<li><a href="/usuarios/agregar_supervisor_general"><i class="fa fa-user"></i> <span>Agregar Administrador General</span></a></li>
					<li><a href="/reportes"><i class="fa fa-check-square"></i> <span>Dar Reportes</span></a></li>
					<li><a href="/reportes/diagnosticos"><i class="fa fa-eye"></i> <span>Revisar Reportes Específicos</span></a></li>
					<li><a href="/usuarios/agregar_supervisor"><i class="fa fa-user"></i> <span>Agregar Administrador Empresa</span></a></li>
					<li><a href="/usuarios/agregar_empresa"><i class="fa fa-building"></i> <span>Agregar Empresa</span></a></li>
					<li><a href="/usuarios/agregar_sucursal"><i class="fa fa-building"></i> <span>Agregar Sucursal</span></a></li>
					<li><a href="/preguntas/elegir_dominio"><i class="fa fa-edit"></i> <span>Editar Encuesta</span></a></li>
					<li><a href="/reportes/aspectoslegales"><i class="fa fa-balance-scale"></i> <span>Agregar Aspectos Legales</span></a></li>
					{% endif %}
			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			{% block content %}			
			{% endblock %}
		</div>
		<!-- end #content -->
		
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static './assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static './assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="{% static './assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static './assets/plugins/js-cookie/js.cookie.js' %}"></script>
	<script src="{% static './assets/js/theme/default.min.js' %}"></script>
	<script src="{% static './assets/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	

	{% block scripts %}
		<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
	{% endblock %}
</body>
</html>
