{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Plan Director de Seguridad</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static './assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/css/default/style.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/css/default/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/css/default/theme/default.css' %}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <b>Plan Director de Seguridad</b>
                </div>
            </div>
            <!-- end brand -->
            	{% if form.errors %}
	    			<p>Tu nombre de usuario y contraseña no coincide. Por favor intente de nuevo.</p>
	    			{% endif %}
	    			{% if next %}
	        			{% if user.is_authenticated %}
	        				<p>Tu cuenta no tiene acceso a esta página. Para proceder,
	        				por favor inicie sesión con una cuenta que tenga acceso.</p>
	        			{% else %}
	        				<p>Por favor inicie sesión para ver esta página.</p>
	        			{% endif %}
		    	{% endif %}
            <!-- begin login-content -->
			<form method="post" action="{% url 'login' %}">
		    	{% csrf_token %}
            <div class="login-content">
                <!-- <form action="index.html" method="GET" class="margin-bottom-0"> -->
                    <div class="form-group m-b-20">
                        <input type="text" class="form-control form-control-lg inverse-mode" placeholder="Usuario" required name="username"/>
                    </div>
                    <div class="form-group m-b-20">
                        <input type="Password" class="form-control form-control-lg inverse-mode" placeholder="Contraseña" required name="password"/>
                    </div>
                    <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Iniciar Sesión</button>
		                <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end login -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static './assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static './assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="{% static './assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static './assets/plugins/js-cookie/js.cookie.js' %}"></script>
	<script src="{% static './assets/js/theme/default.min.js' %}"></script>
	<script src="{% static './assets/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>