{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    	<style type="text/css">
    		.highcharts-figure, .highcharts-data-table table {
    		    min-width: 360px; 
    		    max-width: 800px;
    		    margin: 1em auto;
    		}

    		.highcharts-data-table table {
    			font-family: Verdana, sans-serif;
    			border-collapse: collapse;
    			border: 1px solid #EBEBEB;
    			margin: 10px auto;
    			text-align: center;
    			width: 100%;
    			max-width: 500px;
    		}
    		.highcharts-data-table caption {
    		    padding: 1em 0;
    		    font-size: 1.2em;
    		    color: #555;
    		}
    		.highcharts-data-table th {
    			font-weight: 600;
    		    padding: 0.5em;
    		}
    		.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    		    padding: 0.5em;
    		}
    		.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    		    background: #f8f8f8;
    		}
    		.highcharts-data-table tr:hover {
    		    background: #f1f7ff;
    		}

    	</style>
    {% endblock %}
</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Versiones de Respuestas Anteriores<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Gráfico</h4>
			</div>
			<br>
			<div class="btn-group">

            <div class="panel-body">
			<!-- begin row -->
				<div class="row">
				    <!-- begin col-10 -->
				    <div class="col-lg-12">
				        <!-- begin panel -->
	                    <div class="panel panel-inverse">
	                        <!-- begin panel-body -->
	                        <div class="panel-body">
	                            <script src="https://code.highcharts.com/highcharts.js"></script>
	                            <script src="https://code.highcharts.com/modules/exporting.js"></script>
	                            <script src="https://code.highcharts.com/modules/export-data.js"></script>
	                            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

								<div id="container"></div>
								<script type="text/javascript">
									Highcharts.chart('container', {
									    chart: {
									        type: 'line'
									    },
									    title: {
									        text: 'Porcentaje de Respuesta por dominio'
									    },
									    subtitle: {
									        text: 'GAP'
									    },
									    xAxis: {
									        categories: ['{{dominio.0.nombre}}', '{{dominio.1.nombre}}', '{{dominio.2.nombre}}', '{{dominio.3.nombre}}', '{{dominio.4.nombre}}', '{{dominio.5.nombre}}', '{{dominio.6.nombre}}', '{{dominio.7.nombre}}', '{{dominio.8.nombre}}', '{{dominio.9.nombre}}', '{{dominio.10.nombre}}']
									    },
									    yAxis: {
									        title: {
									            text: '% de aprobación'
									        }
									    },
									    plotOptions: {
									        line: {
									            dataLabels: {
									                enabled: true
									            },
									            enableMouseTracking: false
									        }
									    },
									    series: [
									    {% for reinicio in reinicio %}
									    {
									        name: 'Versión {{reinicio.created_at|date:"M d, Y"}}',
									        data: [{% for porcentaje in porcentaje %}
									        		{% if porcentaje.2 == reinicio.version %}
									        			{{porcentaje.1|floatformat:0}},
									        		{% endif %}
									        	{% endfor %}]
									    }, 
									    {% endfor %}]
									});

								</script>
	                        </div>
	                        <!-- end panel-body -->
	                    </div>
	                    <!-- end panel -->
	                </div>
	                <!-- end col-10 -->
	            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}
</body>
</html>
