{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<h1 class="page-header">Elegir Control</h1>
			
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Controles</h4>
			</div>
			<div class="panel-body">
				<div class="row">
				    {% for control in control %}
				    <br>
				    <div class=" col-6">
				    	<h5> {{ control.nombre }}</h5>
				    </div>
				    <div class="col-1">
						<form action="editar_control/" method="get">
					    {% csrf_token%}
							<input id="id_control" name="id_control" hidden value="{{ control.id_c }}">
							<button type="submit" class="btn btn-primary">Editar</button>

						</form>
					</div>
					<div class="col-1">
						<form action="/preguntas/elegir_pregunta/" method="get">
					    {% csrf_token%}
					    	<input id="id_control" name="id_control" hidden value="{{ control.id_c }}">
							<button type="submit" class="btn btn-info">Preguntas</button>
						</form>
					</div>
					<br><br>
				        
				    {% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
</body>

</html>