{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<h1 class="page-header">Elegir Pregunta</h1>
			
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Preguntas</h4>
			</div>
			<div class="panel-body">
				<div class="row">
				    {% for pregunta in pregunta %}
				    <br>
				    <div class=" col-8">
				    	<h5> {{ pregunta.nombre }}</h5>
				    </div>
				    <!-- <div class="col-4"> -->
						<form action="editar_pregunta/" method="get">
					    {% csrf_token%}
							<input id="id_pregunta" name="id_pregunta" hidden value="{{ pregunta.id_p }}">
							<button type="submit" class="btn btn-primary">Editar Pregunta</button>
						</form>&nbsp;&nbsp;&nbsp;&nbsp;
						<form action="/reportes/editar_recomendacion/" method="get">
					    {% csrf_token%}
							<input id="id_pregunta" name="id_pregunta" hidden value="{{ pregunta.id_p }}">
							<button type="submit" class="btn btn-primary">Editar Recomendación</button>
						</form>
					<!-- </div> -->
					<br><br>
				        
				    {% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
</body>

</html>
