{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<h1 class="page-header">Elegir Sección</h1>
			
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Secciones</h4>
			</div>
			<div class="panel-body">
				<div class="row">
				    {% for seccion in seccion %}
				    <br>
				    <div class=" col-6">
				    	<h5> {{ seccion.nombre }}</h5>
				    </div>
				    <div class="col-1">
						<form action="editar_seccion/" method="get">
					    {% csrf_token%}
							<input id="id_seccion" name="id_seccion" hidden value="{{ seccion.id_s }}">
							<button type="submit" class="btn btn-primary">Editar</button>

						</form>
					</div>
					<div class="col-1">
						<form action="/preguntas/elegir_control/" method="get">
					    {% csrf_token%}
					    	<input id="id_seccion" name="id_seccion" hidden value="{{ seccion.id_s }}">
							<button type="submit" class="btn btn-info">Control</button>
						</form>
					</div>
					<br><br>
				        
				    {% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
</body>

</html>
