{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<h1 class="page-header">Elegir Dominio</h1>
			
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Dominios</h4>
			</div>
			<div class="panel-body">
				<div class="row">
				    {% for dominio in dominio %}
				    <br>
				    <div class=" col-6">
				    	<h5> {{ dominio.nombre }}</h5>
				    </div>
				    <div class="col-1">
						<form action="editar_dominio/" method="get">
					    {% csrf_token%}
							<input id="id_dominio" name="id_dominio" hidden value="{{ dominio.id_d }}">
							<button type="submit" class="btn btn-primary">Editar</button>

						</form>
					</div>
				    <div class="col-2">
						<form action="/reportes/ver_leyes_dominio/" method="get">
					    {% csrf_token%}
							<input id="id_dominio" name="id_dominio" hidden value="{{ dominio.id_d }}">
							<button type="submit" class="btn btn-success">Ver Leyes/Decretos</button>

						</form>
					</div>
					<div class="col-1">
						<form action="/preguntas/elegir_seccion/" method="get">
					    {% csrf_token%}
					    	<input id="id_dominio" name="id_dominio" hidden value="{{ dominio.id_d }}">
							<button type="submit" class="btn btn-info">Sección</button>
						</form>
					</div>
					<br><br>
				        
				    {% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
</body>

</html>
