{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}

    <style type="text/css">
      .highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}    </style>

    {% endblock %}

</head>

<body >
    {% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Respuestas<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Gráfico</h4>
			</div>

			<br>
 			<div class="btn-group pull-right">
        <form method="get" action="/preguntas/grafico_desconozco/">
                {% csrf_token%}
            <input id="seleccion" name="seleccion" hidden value="0">
            <button type="submit" class="btn btn-primary">Todos</button>
        </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="get" action="/preguntas/grafico_desconozco/">
                {% csrf_token%}
            <input id="seleccion" name="seleccion" hidden value="1">
    				<button type="submit" class="btn btn-primary">Directivo</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<form method="get" action="/preguntas/grafico_desconozco/">
                {% csrf_token%}
            <input id="seleccion" name="seleccion" hidden value="2">
    				<button type="submit" class="btn btn-primary">Operativo</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<form method="get" action="/preguntas/grafico_desconozco/">
                {% csrf_token%}
            <input id="seleccion" name="seleccion" hidden value="3">
    				<button type="submit" class="btn btn-primary">Ambos</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
			<div class="panel-body">
			
			<!-- begin row -->
			<div class="row">
			    
    			<br><br>
    			<script src="https://code.highcharts.com/highcharts.js"></script>
          <script src="https://code.highcharts.com/modules/series-label.js"></script>
          <script src="https://code.highcharts.com/modules/exporting.js"></script>
          <script src="https://code.highcharts.com/modules/export-data.js"></script>
          <script src="https://code.highcharts.com/modules/accessibility.js"></script>

          <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
              Grafico de respuestas separado por sus dominios con las respuestas totales de "SI" "NO" y "Desconozco"
            </p>
          </figure>
          <script type="text/javascript">
            Highcharts.chart('container', {
            title: {
              text: 'Gráfico de Respuestas por Dominio'
            },
            xAxis: {
              categories: [
              {% for respuesta in respuesta %}
              '{{ respuesta.0 }}',
              {% endfor %}
              ]
            },
            labels: {
              items: [{
                html: 'Total de Respuestas',
                style: {
                  left: '50px',
                  top: '18px',
                  color: ( // theme
                    Highcharts.defaultOptions.title.style &&
                    Highcharts.defaultOptions.title.style.color
                  ) || 'black'
                }
              }]
            },
            series: [{
              type: 'column',
              name: 'SI',
              data: [
              {% for respuesta in respuesta %}
              {{ respuesta.1 }},
              {% endfor %}
              ]
            }, {
              type: 'column',
              name: 'NO',
              data: [
              {% for respuesta in respuesta %}
              {{ respuesta.2 }},
              {% endfor %}
              ]
            }, {
              type: 'column',
              name: 'DESCONOZCO',
              data: [
              {% for respuesta in respuesta %}
              {{ respuesta.3 }},
              {% endfor %}
              ]
            }, {
              type: 'pie',
              name: 'Total de respuestas',
              data: [{
                name: 'SI',
                y: {{ circular.0 }},
                color: Highcharts.getOptions().colors[0]
              }, {
                name: 'NO',
                y: {{ circular.1 }},
                color: Highcharts.getOptions().colors[1]
              }, {
                name: 'DESCONOZCO',
                y: {{ circular.2 }},
                color: Highcharts.getOptions().colors[2]
              }],
              center: [100, 80],
              size: 100,
              showInLegend: false,
              dataLabels: {
                enabled: false
              }
            }]
          });

          </script>
            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}

</body>
</html>
