{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {

        var button = document.getElementById('change-chart');
        var chartDiv = document.getElementById('chart_div');

        var data = google.visualization.arrayToDataTable([
          ['Gráfico', 'Si', 'No'],
          {% for respuesta in respuesta %}
          	['Dominio {{ respuesta.0 }}',{{ respuesta.1|floatformat:0 }},{{ respuesta.2|floatformat:0 }} ],
          {% endfor %}
        ]);
        var materialOptions = {
          width: 900,
          chart: {
            title: 'Gráfico respuestas  en %',
            subtitle: ''
          },
          series: {
            0: { axis: 'distance' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            y: {
              distance: {label: 'Porcentaje %'}, // Left y-axis.
              // brightness: {side: 'right', label: 'apparent magnitude'} // Right y-axis.
            }
          }
        };

        var classicOptions = {
          width: 1000,
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
          },
          title: 'Gráfico respuestas en %',
          vAxes: {
            // Adds titles to each axis.
            0: {title: 'Porcentaje %'},
            // 1: {title: 'apparent magnitude'}
          }
        };

        function drawMaterialChart() {
          var materialChart = new google.charts.Bar(chartDiv);
          materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
          button.innerText = 'Cambiar a Clásico';
          button.onclick = drawClassicChart;
        }

        function drawClassicChart() {
          var classicChart = new google.visualization.ColumnChart(chartDiv);
          classicChart.draw(data, classicOptions);
          button.innerText = 'Cambiar a Material';
          button.onclick = drawMaterialChart;
        }

        drawMaterialChart();
    };
    </script>
    {% endblock %}

</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Respuestas<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Gráfico</h4>
			</div>

			<br>
 			<div class="btn-group pull-right">
 				<button class="btn btn-primary" id="change-chart"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="get" action="/preguntas/grafico_desconozco/">
                {% csrf_token%}
            <input id="seleccion" name="seleccion" hidden value="0">
            <button type="submit" class="btn btn-primary">Gráfico con Desconozco</button>
        </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="get" action="/preguntas/respuestas/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Nivel 4</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<form method="get" action="/preguntas/respuestas_n3/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Nivel 3</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<form method="get" action="/preguntas/respuestas_n2/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Nivel 2</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if user.autorizacion.id_a == 1 %}
                    <form method="get" action="/reportes/gap/">
                    {% csrf_token%}
                        <button type="submit" class="btn btn-primary">Dar recomendación</button>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <form method="get" action="/reportes/enviar_recomendaciones_automaticas/">
                    {% csrf_token%}
                        <button type="submit" class="btn btn-primary">Enviar recomendaciones automáticas</button>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
            </div>
			<div class="panel-body">
			
			<!-- begin row -->
			<div class="row">
			    
    			<br><br>
    			<div id="chart_div" style="width: 800px; height: 500px;"></div>
            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}
</body>

</html>
