{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static './assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
    {% endblock %}

</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Respuestas<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Nivel 4</h4>
			</div>
			<br>
			<div class="btn-group pull-right">
                <form method="get" action="/preguntas/respuestas_n3/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Nivel 3</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form method="get" action="/preguntas/respuestas_n2/">
                {% csrf_token%}
                    <button type="submit" class="btn btn-primary">Nivel 2</button>
                </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form method="get" action="/preguntas/grafico/">
                {% csrf_token%}
                    <button type="submit" class="btn btn-primary">Gráfico</button>
                </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if user.autorizacion.id_a == 1 %}
                    <form method="get" action="/reportes/gap/">
                    {% csrf_token%}
                        <button type="submit" class="btn btn-primary">Dar recomendación específica</button>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <form method="get" action="/reportes/enviar_recomendaciones_automaticas/">
                    {% csrf_token%}
                        <button type="submit" class="btn btn-primary">Enviar recomendaciones automáticas</button>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <form method="get" action="/antiguo/reinicio/">
                    {% csrf_token%}
                        <button type="submit" class="btn btn-danger">Reiniciar</button>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}

            </div>
			<div class="panel-body">
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-10 -->
			    <div class="col-lg-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <table id="data-table-buttons" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                    	<th class="text-nowrap">Checklist</th>
                                    	<th class="text-nowrap">Estandar</th>
                                        <th class="text-nowrap">Dominio</th>
                                        <th class="text-nowrap">Intervalo</th>
                                        <th class="text-nowrap">PC</th>
                                        <th class="text-nowrap">NPC</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                	{% for dominio in dominio %}
                                    <tr class="odd gradeX">
                                    	<td>{{ dominio.checklist }}</td>
                                    	<td>{{ dominio.estandar }}</td>
                                    	<td>{{ dominio.nombre }}</td>
                                    	
                                        {% for respuesta in respuesta %}
                                        	{% if respuesta.0 ==  dominio %}
                                        		{% if respuesta.1 <=  intervalo.inter_nulo %}
                                        			<td style="color:#FF0000";>Nulo</td>
                                        		{% elif respuesta.1 <=  intervalo.inter_bajo %}
                                        			<td style="color:#FF0000";>Bajo</td>
                                        		{% elif respuesta.1 <=  intervalo.inter_medio %}
                                        			<td style="color:#FFD700";>Medio</td>
                                        		{% else %}
                                        			<td style="color:#008000";>Alto</td>
                                        		{% endif %}
                                        		<td>{{ respuesta.1|floatformat:2 }}%</td>
                                        		<td>{{ respuesta.2|floatformat:2 }}%</td>
                                        	{% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-10 -->
            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}

	{% block scripts %}

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static './assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static './assets/js/demo/table-manage-buttons.demo.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			TableManageButtons.init();
		});
	</script>
	{% endblock %}
</body>

</html>
