{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static './assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
    {% endblock %}

</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Respuestas<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Niveles</h4>
			</div>
			<div class="panel-body">
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-10 -->
			    <div class="col-lg-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <table id="data-table-buttons" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                    	<th class="text-nowrap">Dominio</th>
                                    	<th class="text-nowrap">Sección</th>
                                        <th class="text-nowrap">Control</th>
                                        <th class="text-nowrap">Pregunta</th>
                                        <th class="text-nowrap">Respuesta</th>
                                        <th class="text-nowrap">Editar Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for respuestas in respuestas %}
                                    <tr class="odd gradeX">
                                    	<td>{{ respuestas.pregunta.control.seccion.dominio.nombre }}</td>
                                    	<td>{{ respuestas.pregunta.control.seccion.nombre }}</td>
                                        <td>{{ respuestas.pregunta.control.nombre }}</td>
                                        <td>{{ respuestas.pregunta.nombre }}</td>
                                        <td>{% if  respuestas.respuesta == 0 %}
												<h6> NO</h6>
											{% endif %}
											{% if  respuestas.respuesta == 1 %}
												<h6> SI</h6>
											{% endif %}
											{% if  respuestas.respuesta == 2 %}
												<h6> Desconozco</h6>
											{% endif %}</td>
                                        <td>
                                        	{% if  tiempo == 0 %}
	                                        	<form method="get" action="/preguntas/editar_respuesta/">
								                {% csrf_token%}
								                	<input id="id_respuesta" name="id_respuesta" hidden value="{{ respuestas.id_res }}">
								    				<button type="submit" class="btn btn-primary">Editar</button>
												</form>
											{% else %}
												Fin Tiempo para Realizar Encuesta
											{% endif %}
										</td>
                                    {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-10 -->
            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}

	{% block scripts %}

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static './assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static './assets/js/demo/table-manage-buttons.demo.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			TableManageButtons.init();
		});
	</script>
	{% endblock %}
</body>

</html>
