{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Encuesta<small> Favor responder todas las preguntas</small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">{{ pregunta.control.seccion.dominio.nombre }} ({{ pregunta.control.seccion.nombre }})<span class="pull-right">Pregunta {{ cantidad_actual }} de {{ cantidad_dominio }} en este dominio</span></h4>
			</div>
			<div class="panel-body">
				<a class="pull-right" href="retroceder">Anterior</a>
                <h5> {{ pregunta.control.nombre }}</h5>
                <br>
                <b> {{ pregunta.nombre }}</b>
				<br><br>
				{% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                 {% endif %}

            	<form class="form-horizontal" name="demo-form" method="post">
            	{% csrf_token%}
            	{{ form.respuesta }}
            		<div class="form-group row m-b-0">
    					<label class="col-6 col-form-label"></label>
    					
    					&nbsp;&nbsp;&nbsp;&nbsp;
    					<button type="submit" class="btn btn-primary">Siguiente</button>
				    </div>
				</form>
			</div>
		</div>
	{% endblock %}
</body>

</html>
