{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static './assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
    {% endblock %}

</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Aspectos Legales<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Leyes y Decretos</h4>
			</div>
			<br>
			<div class="btn-group pull-right">
                <form method="get" action="agregar_aspectos_legales/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Agregar</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form method="get" action="restaurar_aspectos_legales/">
                {% csrf_token%}
                    <button type="submit" class="btn btn-info">Restaurar Eliminados</button>
                </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
			<div class="panel-body">
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-10 -->
			    <div class="col-lg-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <table id="data-table-buttons" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                    	<!-- <th class="text-nowrap">Descripción</th> -->
                                    	<th class="text-nowrap">Tipo de Norma</th>
                                    	<th class="text-nowrap">Fecha de Publicación</th>
                                    	<!-- <th class="text-nowrap">Fecha de Promulgación</th> -->
                                        <th class="text-nowrap">Organismo</th>
                                        <!-- <th class="text-nowrap">Título</th> -->
                                        <!-- <th class="text-nowrap">Tipo de Version</th> -->
                                        <th class="text-nowrap">Inicio de Vigencia</th>
                                        <th class="text-nowrap">Id de Norma</th>
                                        <!-- <th class="text-nowrap">Texto Derogado</th> -->
                                        <th class="text-nowrap">Última Modificacion</th>
                                        <!-- <th class="text-nowrap">URL</th> -->
                                        <th class="text-nowrap">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for aspectoslegales in aspectoslegales %}
                                    <tr class="odd gradeX">
                                    	<!-- <td>{{ aspectoslegales.descripcion }}</td> -->
                                    	<td>{{ aspectoslegales.tipo_norma }}</td>
                                    	<td>{{ aspectoslegales.fecha_publicacion|date:"M d, Y" }}</td>
                                    	<!-- <td>{{ aspectoslegales.fecha_promulgacion|date:"M d, Y" }}</td> -->
                                        <td>{{ aspectoslegales.organismo }}</td>
                                        <!-- <td>{{ aspectoslegales.titulo }}</td> -->
                                        <!-- <td>{{ aspectoslegales.tipo_version }}</td> -->
                                        <td>{{ aspectoslegales.inicio_vigencia|date:"M d, Y" }}</td>
                                        <td>{{ aspectoslegales.id_norma }}</td>
                                        <!-- <td>{{ aspectoslegales.texto_derogado }}</td> -->
                                        <td>{{ aspectoslegales.ultima_modificacion|date:"M d, Y" }}</td>
                                        <!-- <td>{{ aspectoslegales.url }}</td> -->
                                        <td><form method="get" action="ver_aspectos_legales/">
                                            {% csrf_token%}
                                                <input id="id_aspectoslegales" name="id_aspectoslegales" hidden value="{{ aspectoslegales.id_asl }}">
                                                <button type="submit" class="btn btn-primary">Ver</button>
                                            </form></td>
                                    {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-10 -->
            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}

	{% block scripts %}

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static './assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static './assets/js/demo/table-manage-buttons.demo.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			TableManageButtons.init();
		});
	</script>
	{% endblock %}
</body>

</html>
