{% extends './base.html' %}
{% load static %}
<head>
</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">GAP<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Recomendaciones</h4>
			</div>
			<div class="panel-body">
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-10 -->
			    <div class="col-lg-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            {% for diagnosticos in diagnosticos %}
                        	<p>
                        		<div class="row">
                        			<div class="d-none d-sm-none d-md-block">
		                        		<span class=" fa-4x col-1 text-inverse">
								        	<i class="fas fa-bullhorn fa-fw"></i>
								        </span>
								    </div>
							        <div class="col-2">
			                        	<h4 class="title">
			                        		{{ diagnosticos.empresa }}
			                        	</h4>
			                    	</div>
			                    	<div class="col-6">
							        	{{ diagnosticos.recomendacion}}
							        </div>
							        <div class="col-2">
						                <span class="time">{{ diagnosticos.created_at }} 
						                <h6><a  class="user">{{ diagnosticos.usuario_dueño.first_name }} 
						                {{ diagnosticos.usuario_dueño.last_name }}</a></h6></span>
					            	</div>
				            	</div>
				            </p>
				            {% endfor %}
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-10 -->
            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}
</html>
