{% extends './base.html' %}
{% load static %}
<head>
	{% block head %}
	{% endblock %}

</head>
<body >
	{% block content %}

		<h1 class="page-header">Recomendación</h1>

		<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
			<div class="panel-heading">
                <h4 class="panel-title">Editar</h4>
            </div>
            <div class="panel-body">
            	{% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                 {% endif %}
                <form class="form-horizontal" enctype="multipart/form-data" name="demo-form" method="post">
                {% csrf_token%}
                	<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">*Recomendación:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.recomendacion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">*Cargo recomendado que deba realizar la recomendación:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.cargo_recomendado }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">*Vigencia de duración en cantidad de días:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.vigencia }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Leyes / ISO / asociación de instituciones internacionales:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.observaciones }}
						</div>
					</div>
					<div class="form-group row m-b-0">
						<label class="col-md-4 col-sm-4 col-form-label"></label>
						<div class="col-md-8 col-sm-8">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% endblock %}
</body>

</html>

