{% extends './base.html' %}
{% load static %}
<head>
	{% block head %}
	{% endblock %}

</head>
<body >
	{% block content %}

		<h1 class="page-header">Aspecto Legal</h1>

		<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
			<div class="panel-heading">
                <h4 class="panel-title">Ley o Decreto</h4>
            </div>
            <div class="panel-body">
            	{% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                 {% endif %}
                <form class="form-horizontal" enctype="multipart/form-data" name="demo-form" method="post">
                {% csrf_token%}
                	<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Descripcion:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.descripcion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Tipo de Norma:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.tipo_norma }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Fecha de Publicación:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.fecha_publicacion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Fecha de Promulgación:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.fecha_promulgacion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Organismo:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.organismo }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Título:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.titulo }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Tipo de Versión:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.tipo_version }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Inicio de Vigencia:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.inicio_vigencia }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Id de Norma:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.id_norma }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Texto Derogado:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.texto_derogado }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Última Modificación:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.ultima_modificacion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">URL:</label>
						<div class="col-md-8 col-sm-8">
							{{ form.url }}
						</div>
					</div>
					<div class="form-group row m-b-0">
						<label class="col-md-4 col-sm-4 col-form-label"></label>
						<div class="col-md-8 col-sm-8">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% endblock %}
</body>

</html>

