{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Dominio', 'Cantidad'],
        {% for cantidad in cantidad %}
        	['{{ cantidad.0 }}', {{ cantidad.1 }}],
        {% endfor %}
        ]);

        var options = {
          title: 'Dominios en Recomendaciones',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
    {% endblock %}
</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">GAP<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Recomendaciones</h4>
			</div>
			<br>
			<div class="btn-group">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form method="get" action="/reportes/reportes_auto/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Atrás</button>
				</form>

            <div class="panel-body">
			<!-- begin row -->
				<div class="row">
				    <!-- begin col-10 -->
				    <div class="col-lg-12">
				        <!-- begin panel -->
	                    <div class="panel panel-inverse">
	                        <!-- begin panel-body -->
	                        <div class="panel-body">
	                            <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
	                        </div>
	                        <!-- end panel-body -->
	                    </div>
	                    <!-- end panel -->
	                </div>
	                <!-- end col-10 -->
	            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}
</body>
</html>
