{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    	<style type="text/css">
    		#container {
			    max-width: 800px;
			    margin: 1em auto;
			}
    	</style>
    {% endblock %}
</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">GANTT<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Recomendaciones</h4>
			</div>
			<br>
			<div class="btn-group">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form method="get" action="/reportes/reportes_auto/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Atrás</button>
				</form>

            <div class="panel-body">
			<!-- begin row -->
				<div class="row">
				    <!-- begin col-10 -->
				    <div class="col-lg-12">
				        <!-- begin panel -->
	                    <div class="panel panel-inverse">
	                        <!-- begin panel-body -->
	                        <div class="panel-body">
	                            <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
								<div id="container"></div>
								<script type="text/javascript">
									// THE CHART
									Highcharts.ganttChart('container', {
									    title: {
									        text: 'Gantt Chart with Progress Indicators'
									    },
									    xAxis: {
									        min: Date.UTC(2020, 8, 9),
									        max: Date.UTC(2020, 12, 21)
									    },

									    series: [{
									        name: 'Project 1',
									        data: [
									        {% for recomendaciones in recomendaciones%}
									        {	
									        	name: '{{recomendaciones.0}}',
									        	start : Date.UTC({{recomendaciones.1}}, {{recomendaciones.2}}, {{recomendaciones.3}}),
									        	end : Date.UTC({{recomendaciones.4}}, {{recomendaciones.5}}, {{recomendaciones.6}}),
									        	completed: 0
									    	},
											{% endfor%}
									        ]
									    }]
									});
								</script>
	                        </div>
	                        <!-- end panel-body -->
	                    </div>
	                    <!-- end panel -->
	                </div>
	                <!-- end col-10 -->
	            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}
</body>
</html>
