{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}
</head>
<body >
	{% block content %}
		<h1 class="page-header">Establecer Intervalos de Respuesta</h1>

		<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
			<div class="panel-heading">
                <h4 class="panel-title">Intervalos</h4>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                 {% endif %}
            	<form class="form-horizontal" name="demo-form" method="post">
            	    {% csrf_token%}
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Intervalo Nulo</th>
                                <th>Intervalo Bajo</th>
                                <th>Intervalo Medio</th>
                                <th>Intervalo Alto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Desde 0</th>
                                <th>Hasta {{ form.inter_nulo}}</th>
                                <th>Hasta {{ form.inter_bajo}}</th>
                                <th>Hasta {{ form.inter_medio}}</th>
                                <th>100%</th>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="form-group row m-b-0">
                        <label class="col-10 col-form-label"></label>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
            	</form>
			</div>
		</div>
	{% endblock %}
</body>

</html>

