{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static './assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
    {% endblock %}
</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">GAP<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Recomendaciones</h4>
			</div>
			<br>
			<div class="btn-group pull-right">
				<form method="get" action="/reportes/grafico_recomendaciones/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Gráfico de Recomendaciones</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<form method="get" action="/reportes/grafico_gantt/">
                {% csrf_token%}
    				<button type="submit" class="btn btn-primary">Gantt de Recomendaciones</button>
				</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="panel-body">
			<!-- begin row -->
				<div class="row">
				    <!-- begin col-10 -->
				    <div class="col-lg-12">
				        <!-- begin panel -->
	                    <div class="panel panel-inverse">
	                        <!-- begin panel-body -->
	                        <div class="panel-body">
	                            <table id="data-table-buttons" class="table table-striped table-bordered">
	                                <thead>
	                                    <tr>
	                                    	<th class="text-nowrap">Recomendación</th>
	                                    	<th class="text-nowrap">Cargo recomendado a resolver</th>
	                                        <th class="text-nowrap">Vigencia</th>
	                                        <th class="text-nowrap">Ley/Decreto afectado</th>
	                                        <th class="text-nowrap">Establecer Encargado</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	{% for recomau in recomau %}
	                                    <tr class="odd gradeX">
	                                    	<td>{{ recomau.recomendacion.recomendacion }}</td>
	                                    	<td>{{ recomau.recomendacion.cargo_recomendado}}</td>
	                                        <td>{{ recomau.vigencia|date:"d M , Y"}}</td>
	                                        <td>{% for aspectoslegales in aspectoslegales %}
	                                        		{% if recomau.recomendacion.pregunta.control.seccion.dominio == aspectoslegales.dominio %}
	                                        			{{ aspectoslegales.aspecto_legal.tipo_norma}}<br>
	                                        		{% endif %}
	                                        {% endfor %}

	                                    	</td>
	                                        <td><form method="get" action="/reportes/reportes_auto/establecer_encargado/">
                    					{% csrf_token%}
                    						<input id="id_recomendacion" name="id_recomendacion" hidden value="{{ recomau.recomendacion.id_rec }}">
                    						{% if recomau.cumplimiento.usuario_delegado == NULL%}
                        						<button type="submit" class="btn btn-primary">Elegir</button>
                        					{% elif recomau.cumplimiento.cumplimiento == True %}
                        						<b> Recomendación Cumplida</b>
                        					{% elif recomau.cumplimiento.usuario_delegado != NULL%}
                        						<b> En Ejecución</b>
                        					{% endif%}
                    							</form></td>
	                                        
	                                    {% endfor %}
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                        <!-- end panel-body -->
	                    </div>
	                    <!-- end panel -->
	                </div>
	                <!-- end col-10 -->
	            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}
	{% block scripts %}

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static './assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static './assets/js/demo/table-manage-buttons.demo.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			TableManageButtons.init();
		});
	</script>
	{% endblock %}
</body>
</html>
