{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<h1 class="page-header">Elegir Empresa</h1>
			<div class="row">
				    {% for empresas in empresas %}
				    <div class="row">
				    	<div class=" col-xs-12 col-md-1">
					      	<form action="informe/" method="post">
				      		{% csrf_token%}
						      	<div class="fa-7x text-inverse">
						      		<i class="fas fa-building fa-fw"></i>
						      	</div>
							    <input id="id_empresa" name="id_empresa" hidden value="{{ empresas.id_e }}">
							    <input  type="submit" class="btn btn-sm btn-primary" value="{{ empresas.nombre }}">
					        </form>
				        </div>
				    </div>
				    {% endfor %}
			</div>
	{% endblock %}
</body>

</html>
