{% extends './base.html' %}
{% load static %}
<head>
	{% block head %}
	{% endblock %}

</head>
<body >
	{% block content %}

		<h1 class="page-header">Aspecto Legal</h1>

		<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
			<div class="panel-heading">
                <h4 class="panel-title">Ley o Decreto</h4>
            </div>
            <div class="panel-body">
                	<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Descripcion:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.descripcion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Tipo de Norma:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.tipo_norma }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Fecha de Publicación:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.fecha_publicacion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Fecha de Promulgación:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.fecha_promulgacion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Organismo:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.organismo }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Título:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.titulo }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Tipo de Versión:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.tipo_version }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Inicio de Vigencia:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.inicio_vigencia }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Id de Norma:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.id_norma }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Texto Derogado:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.texto_derogado }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">Última Modificación:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.ultima_modificacion }}
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-md-4 col-sm-4 col-form-label" for="asunto">URL:</label>
						<div class="col-md-8 col-sm-8">
							{{ aspectoslegales.url }}
						</div>
					</div>
					<div class="btn-group pull-right">
						{% if aspectoslegales.version_anterior != None %}
							<form method="get" action="version_anterior/">
		                        {% csrf_token%}
		                        <input id="id_aspectoslegales" name="id_aspectoslegales" hidden value="{{ aspectoslegales.id_asl }}">
		                        <button type="submit" class="btn btn-info">Versión Anterior</button>
		                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                   	{% endif  %}
						<form method="get" action="editar_aspectos_legales/">
	                        {% csrf_token%}
	                        <input id="id_aspectoslegales" name="id_aspectoslegales" hidden value="{{ aspectoslegales.id_asl }}">
	                        <button type="submit" class="btn btn-primary">Editar</button>
	                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                    <form method="get" action="eliminar_aspectos_legales/">
	                        {% csrf_token%}
	                        <input id="id_aspectoslegales" name="id_aspectoslegales" hidden value="{{ aspectoslegales.id_asl }}">
	                        <button type="submit" class="btn btn-danger">Eliminar</button>
	                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                </div>
			</div>
		</div>

		{% endblock %}
</body>

</html>

