{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}
</head>
<body >
	{% block content %}
		<h1 class="page-header">Agregar Trabajador</h1>

		<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
			<div class="panel-heading">
                <h4 class="panel-title">Usuario</h4>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                 {% endif %}
            	<form class="form-horizontal" name="demo-form" method="post">
            	    {% csrf_token%}
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">RUT:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.rut }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Nombre:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.nombre }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Apellidos:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.apellidos }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Rol:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.rol }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Cargo:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.cargo }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Email:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <label class="col-2 col-form-label"></label>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
            	</form>
			</div>
		</div>
	{% endblock %}
</body>

</html>

