{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    {% endblock %}
</head>
<body >
	{% block content %}
		<h1 class="page-header">Mi Perfil</h1>

		<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
			<div class="panel-heading">
                <h4 class="panel-title">Editar Perfil</h4>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                 {% endif %}
            	<form class="form-horizontal" name="demo-form" method="post">
            	    {% csrf_token%}
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Nueva Contraseña:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Repita Nueva Contraseña:</label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.password2 }}
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <label class="col-2 col-form-label"></label>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
            	</form>
			</div>
		</div>
	{% endblock %}
</body>

</html>

