<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Saludos </h3>
	<h3>Su usuario para el sistema PDS es: {{usuario.username}}</h3>
	<h3>Su contraseña para el sistema PDS es: {{contraseña}}</h3>
	<p>Plan Director de Seguridad</p>
</body>
</html>
