{% extends './base.html' %}
{% load static %}
<head>
    {% block head %}
    	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static './assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
    {% endblock %}

</head>
<body >
	{% block content %}
		<!-- begin page-header -->
		<h1 class="page-header">Usuarios<small> </small></h1>
		<!-- end page-header -->
			
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Logs</h4>
			</div>
			<div class="panel-body">
			*Si no se encuentra algún usuario es que ese usuario aún no inicia sesión en el sistema 
			<!-- begin row -->
				<div class="row">
				    <!-- begin col-10 -->
				    <div class="col-lg-12">
				        <!-- begin panel -->
	                    <div class="panel panel-inverse">
	                        <!-- begin panel-body -->
	                        <div class="panel-body">
	                            <table id="data-table-buttons" class="table table-striped table-bordered">
	                                <thead>
	                                    <tr>
	                                    	<th class="text-nowrap">Usuario</th>
	                                    	<th class="text-nowrap">Cantidad de Ingresos</th>
	                                        <th class="text-nowrap">Cumplimiento Encuesta</th>
	                                        <th class="text-nowrap">Recomendaciones Asignadas</th>
	                                        <th class="text-nowrap">Logs Recomendaciones</th>
	                                        <th class="text-nowrap">Recomendaciones Realizadas</th>
	                                        <th class="text-nowrap">Recomendaciones Faltantes</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	{% for logs in logs %}
	                                    <tr class="odd gradeX">
	                                    	<td>{{ logs.0 }}</td>
	                                    	<td>{{ logs.1 }}</td>
	                                        <td>{{ logs.2|floatformat:2 }}%</td>
	                                        <td>{{ logs.3 }}</td>
	                                        <td><form method="get" action="/usuarios/logs/log_recomendacion">
               	 								{% csrf_token%}
										            <input id="usuario" name="usuario" hidden value={{logs.6}}>
										            <button type="submit" class="btn btn-primary">Recomendaciones</button>
										        </form></td>
	                                        <td>{{ logs.4 }}</td>
	                                        <td>{{ logs.5}} </td>
	                                    {% endfor %}
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                        <!-- end panel-body -->
	                    </div>
	                    <!-- end panel -->
	                </div>
	                <!-- end col-10 -->
	            </div>
            <!-- end row -->
			</div>
		</div>
	{% endblock %}

	{% block scripts %}

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static './assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static './assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static './assets/js/demo/table-manage-buttons.demo.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			TableManageButtons.init();
		});
	</script>
	{% endblock %}
</body>

</html>
